/*  Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* detail for main body */

body {
    background:radial-gradient(white,#C30F16);
    font-family: 'Mystery Quest', cursive;
    color: #146B3A;
    text-align: center;
    min-height: 100vh;
}

/*detail for paragraph size */

p {
    font-size: 20px;
}
 
h3 {
    color:yellow;
}
/* heading detail */
.heading {
     font-size:  40px;
 }

/* image size detail */
img {
    height:110px;
    width:80px
}

/* detail for score area */
.game-info-area {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-around;
    
}

/* detail for the card playing game area */
.game-area {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 50px;
  justify-content: center;
  perspective: 500px
    
       
}

/*  card detail */
.card {
    position: relative;
    height: 120px;
    width: 90px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 500ms ease-in-out;
}

/* change size of card */

.card:active {
    transform: scale(95%);
    transition: transform .3s;
}

/* to flip the card around */
.card.flip {
    transform: rotateY(180deg);
}

/* size for the front and back of card with backface visibility hidden. */

.front-view, .back-view {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    backface-visibility: hidden;
}

/*  turn card back around */
.front-view {
    transform: rotateY(180deg);
}
    