/*  Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* detail for main body */

body {
    background:radial-gradient(white,#C30F16);
    font-family: 'Mystery Quest', cursive;
    color: #146B3A;
    text-align: center;
    min-height: 100vh;
}

/*detail for paragraph size */

p {
    font-size: 20px;
}


h3 {
    color:yellow;
}
/* heading detail */
.heading {
     font-size:  40px;
 }

/* image size detail */
img {
    height:110px;
    width:80px
}

/* detail for score area */
.game-info-area {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-around;
    
}

/* detail for the card playing game area */
.game-area {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 50px;
  justify-content: center;
  perspective: 500px
    
       
}

/*  card detail */
.card {
    position: relative;
    height: 120px;
    width: 90px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 500ms ease-in-out;
}



/* to flip the card around */
.card.flip {
    transform: rotateY(180deg);
}

/* size for the front and back of card with backface visibility hidden. */

.front-view, .back-view {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    backface-visibility: hidden;
}

/*  turn card back around */
.front-view {
    transform: rotateY(180deg);
}

/* button styling */
.button  {
    color:#146B3A;
    background-color: yellow;
    border: 3px #C30F16;
    border-radius: 5px;
}

.button:hover {
    color: red;
}

#overlay {
    position: fixed; 
    display: none;
    width: 100%; 
    height: 100%;  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2; 
    
  }

  #overlay p {
    padding:300px;
    font-size: 100px;
    color: #ff0008;
  }

  

/* Modal Content */
.modal-content {

    background-color: #146B3A;
    margin: auto;
    padding: 20px;
    border: 1px solid yellow;
    border-radius: 10px;
    width: 80%;
    
  }
  
  /* The Close Button */
  .close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  

  
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modal-box {
    color:yellow;
}

@media (max-width: 300px) {
    .game-area {
      grid-template-columns: repeat(2, auto);
    }
  
    .game-info-area {
      flex-direction: column;
      align-items: center;
    }
  }
  
  